
html, *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background: #fff;
  overflow-x: hidden;
  font-family: 'Roboto' !important;
}

ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}
input:focus,button:focus{
  box-shadow: none !important;
}
input,select,.tagsInput{
  border-radius: 8px !important;
}
.bg-light{
  background: #E6EEF4 !important;
}
button.btn.btn-common {
  border-radius: 20px;
  color: #00adee;
  background: #f8f9fb;
}
button.btn.btn-common:hover{
  transition: .5s ease all;
  box-shadow: 0px 0px 11px #dadbdd;
}
.searchInput input::placeholder{
  color: #C4CBCE !important;
}
a.dropdown-item {
  font-size: 14px;
}
.registerBlocks h2{
  color: #00adee;
}
.registerBlocks ul{
  width: 440px;
  transition: all 0.3s;
}
.registerBlocks ul li:first-child img{
height: 50px;
}
body.mainpage{
    background-image: url("../images/bg-image.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.right_arrow img{
  width: 15px;
}
.pw-Icon{
top: 14px;
z-index: 99;
}
.profileView{
  margin-top: 60px;
}
.logInForm h3{
  color: #00adee;
}
label.form-labelImp {
  position: relative;
}
label.form-labelImp:before {
  content: "";
  height: 16px;
  background: #dc3545;
  position: absolute;
  width: 2px;
  top: 40px;
}
.border-5 {
  border-width: 10px!important;
}
.rank{
  background-image: url('../images/rank_img.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.textblue{
  color: #00ADEE;
}
.list {display: block;visibility: hidden;opacity:0;transform: translateY(50px);transition:.5s ease all;}
.list.newlist {display: block;visibility: visible;opacity:1;transform: translateY(0px);transition:.5s ease all;}

.btn-sm {
  font-size: 12px;
}
.iconLink img{
  width: 20px;
}

.filter-tab .list-group button{
font-size: 13px;
}
span.countper {
  top: 25%;
  left: 25%;
}
.circleImg{
  background-image: url('../images/circle.png');
  height: 100px !important;
  width: 105px !important;
  background-repeat: no-repeat;
}
.profileViewSec .card h5 {
  color: #575859 !important;
}
.circleImg1{
  background-image: url('../images/circle1.png');
}
.circleImg2{
  background-image: url('../images/circle2.png');
}
.more{
  cursor: pointer;
}
.success-card{
  background-color: #49C9B4;;
}
.info-card{
  background-color: #4EC5EA;;;
}
.plus_icon {
  width: 25px;
  cursor: pointer;
}
/* slider css  */
button.carouselbtn {
  left: 92% ;
  top: -36px;
  width: 22px;
  height: 22px;
  opacity: .6;
}
.carouselnext{
  left: 97% !important;
}

.carousel-control-prev-icon{
  background-image: url('../images/carousel-prev-icon.svg') !important;
}
.carousel-control-next-icon{
  background-image: url('../images/carousel-next-icon.svg') !important;
}
/* tab css */
#Ctf-tab, #courses-tab {    
  position: relative;
}
header .navbar {
  height: auto;
  min-height: 100px;
  z-index: 999;
}
/* sidenave  */
.infoNav{
  width: 18% !important;
}

.infoNav ul li.current a {
  color: #00ADEE !important;
}
.infoNav ul li.current {
  border-left: 8px solid #00ADEE !important;
}
.infoNav a{
  color: #575859 ;
}

.navTab .nav-link{color:#212529!important}.navTab .nav-link.active{background:0 0!important;color:#00adee!important;border-width:100%;transition:1s ease-in-out}.navTab nav{max-width:800px;margin:auto;display:flex;flex-wrap:wrap}.navTab .nav .nav-link{flex-grow:1;text-align:center;padding:1em;position:relative}.navTab .nav .nav-link::after{content:'';position:absolute;bottom:0;left:0;right:0;height:2px;transform:scaleX(0);background:#00adee;transition:.5s transform cubic-bezier(.06,.9,.28,1)}.navTab .nav .nav-link.active::after{transform:scaleX(1)}
.listIcon{
  width: 18%;

}
.studentTable tr th,tr td{
  font-size: 14px;
}

a.moreless-button {
  cursor: pointer;
  display: flex;
}

  .moretext {
display: none;
}

.box-width{
  width:15%;
}
  /* dropdwon */
  .click {
    font-size: 1.2em;
  }
  .list {
    right: 0 !important;
    z-index: 1000;
    border-radius: .25rem;
    position: absolute;
    background: white;
    border: 1px solid rgba(0, 0, 0, .15);
    transform-origin: top;
  }

  		/* tag input */

      .tag-container {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
      }
  
      .tag {
        height: 30px;
        margin: 5px;
        padding: 2px 15px;
        border: 1px solid #ccc;
        border-radius: 100px;
        background: #2b201f;
        display: flex;
        align-items: center;
        color: #fff;
        cursor: pointer;
      }
  
      .tag-container input {
        padding: 5px;
        font-size: 16px;
        border: 0;
        outline: none;
        color: #333;
        flex: 1;
      }
  
      .bootstrap-tagsinput {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
      }
  
      .bootstrap-tagsinput span[data-role]::before {
        content: 'X';
        color: white;
        margin-left: 10px;
        font-size: 1rem;
      }
  
      .bootstrap-tagsinput input:focus {
        border: none !important;
      }

      #nav-indicator {
        z-index: 99;
        position: absolute;
        width: 10px;
        top: 0;
        left: 0;
        height: 54px;
        background: #00adee;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
  
      .nav-btn.active a {
        color: #00adee;
      }
      .nav-btn {
        cursor: pointer;
      }


@media (max-width:1920px){
  .logInForm{
    min-height: 60vh;
  }
  .welBlock{
    min-height: 50vh;
  }

}
@media  (max-width:1440px){

}
@media (min-width:1440px){
  .welBlock{
    min-height: 30vh;
  }
 
}
@media(max-width:1024px){
  .studentTable tr th:first-child{
    width: 6%;
  }
  .studentTable .listIcon {
    width: 10%;
}
  .studentTable tr th{
    width: 38%;
  }
  .carousel-item h6{
    font-size: 10px;
    }
    .listIcon {
      width: 6%;
  }
    .carousel-item p{
      font-size: 9px;
      }
      button.carouselbtn {
        left: 89%;}
  .infoNav {
    width: 21% !important;
}
.blockMob {
  display: block !important;
}
.rightblockMob {
  width: 100% !important;
  margin-top: 30px;
}
.fs-5 {
  font-size: 14px !important;
}
.profileView nav.card.shadow.text-dark {
  height: 70vh !important;
}
}
@media (max-width:768px) {
  span.countper {
    top: 29%;
    left: 29%;
}
.basicInfo{
  margin: 0px !important;
}
header .navbar {
  padding: 11px !important;
}
}
 @media (max-width:767px){
  .registerBlocks ul, .searchInput {
    width: 85% !important;
}
  .studentTable .listIcon {
    width: 18%;
    margin: 0 !important;
}
.studentTable tr td {
  font-size: 11px;
}
  .listIcon {
    width: 15%;
}
  .infoNav {
    width: 60% !important;
}
.basicInfo {
  display: block !important;
}
.basicInfo .w-75{
  width: 100% !important;
}
.basicInfo .w-25.me-5.text-center{
  width: 75% !important;
}
.profileView nav {
  height: 65vh!important;
}
  .profileView .collapse:not(.show){
    display: none;
  }
  .infoNav {
    z-index: 999999;
}
  .registerBlocks ul,
  .mainpage .searchInput {
    width: 100% !important;
 }
 .logInForm .form-check label,.logInForm h6 a{
   font-size: 12px;
 }
 a.navbar-brand {
  width: 30%;
}
button.btn.btn-common {
  font-size: 14px;
}
.down-arrow {
  display: block !important;
  z-index: 1;
  position: fixed;
  top: 120px;
  left: 12px;
}
#ham-navigation{
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.25s ease-in-out;
  left: 15px;
}
.toggleMenu{
  transform: scaleY(1) !important;
}
}
